@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-logo {
    @apply text-[26px] font-[400] leading-[34.97px];
  }
  .text-mob-logo {
    @apply text-[21px] font-[400] leading-[29.97px];
  }

  .text-option {
    @apply text-[24px] font-[400] leading-[22.08px];
  }
  .text-mob-option {
    @apply text-[19px] font-[400] leading-[17.4px];
  }
  .text-data {
    @apply text-[40px] font-[500] leading-[60px];
  }
  .text-plan {
    @apply text-[30px] font-[400] leading-[27.6px] align-middle;
  }
  .text-week {
    @apply text-[40px] font-[400] leading-[36.8px] align-middle;
  }
  .text-w-option {
    @apply text-[48px] font-[400] leading-[44.16px] align-middle;
  }
  .text-w-o-image {
    @apply text-[32px] font-[400] leading-[35.74px];
  }
  .text-browse {
    @apply text-[28px] font-[400] leading-[25.76px] align-middle;
  }
  .text-get {
    @apply text-[32px] font-[600] leading-[29.44px] align-middle;
  }
  .text-little {
    @apply text-[20px] font-[400] leading-[18.4px] align-middle;
  }
  .text-price {
    @apply text-[24px] font-[700] leading-[22.08px] align-middle;
  }
  .text-follow {
    @apply text-[36px] font-[400] leading-[33.12px] align-middle;
  }
  .text-login {
    @apply text-[36px] font-[500] leading-[33.12px] align-middle;
  }
  .text-sign {
    @apply text-[20px] font-[400] leading-[18.4px] align-middle;
  }
  .text-descp {
    @apply text-[16px] font-[400] leading-[14.72px];
  }
  .text-info {
    @apply text-[32px] font-[400] leading-[29.44px] space-y-[5px];
  }
  .text-i-content {
    @apply text-[24px] font-[400] leading-[34px] space-y-[5px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
